<%- include('header') %>
    <title>Edit Product</title>
    </head>

    <body>
        <%- include('navbar') %>
            <h1>Edit Product</h1>
            <form class="row-g-3" action="/products/<%= product._id %>?_method=PUT" method="POST">
                <div class="col col-md-6">
                    <label for="name">Product Name</label>
                    <input id="name" type="text" class="form-control" name="name" placeholder="product name"
                        value="<%= product.name %>">
                </div>
                <div class="col col-md-6">
                    <label for="price">Product Price</label>
                    <input id="price" type="number" class="form-control" name="price" placeholder="product price"
                        value="<%= product.price %>">
                </div>
                <div class="col-12 col-md-6">
                    <label for="category">category</label>
                </div>
                <div class="col-12 col-md-6">
                    <select name="category" id="category" class="form-select form-select-lg mb-3 form-select-sm">
                        <% for(let category of categories) { %>
                            <option value="<%= category %>" <%=product.category===category ? 'selected' : '' %>><%=
                                    category %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <button>Submit</button>
            </form>
            <a href="/products/<%= product._id %>">Cancel</a>
    </body>

    </html>