<% layout('./layout/boilerplate') -%>
    <div class="col-6 offset-3">
        <h1>Edit Product</h1>
        <form action="/products/<%= product._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="name">Product Name</label>
                <input id="name" type="text" class="form-control" name="name" placeholder="product name"
                    value="<%= product.name %>">
            </div>
            <div class="mb-3">
                <label for="price">Product Price</label>
                <input id="price" type="number" class="form-control" name="price" placeholder="product price"
                    value="<%= product.price %>">
            </div>
            <div class="mb-3">
                <label for="qty">Quantity</label>
                <input id="qty" type="number" class="form-control" name="qty" placeholder="product qty"
                    value="<%= product.qty %>">
            </div>
            <div class="mb-3">
                <label for="category">category</label>
            </div>
            <div class="mb-3">
                <select name="category" id="category" class="form-select form-select-lg mb-3 form-select-sm">
                    <% for(let category of categories) { %>
                        <option value="<%= category %>" <%=product.category===category ? 'selected' : '' %>><%= category
                                %>
                        </option>
                        <% } %>
                </select>
            </div>
            <button class="btn btn-info">Submit</button>
            <a class="btn btn-danger" href="/products/<%= product._id %>">Cancel</a>
        </form>
    </div>