<% layout('./layout/boilerplate') -%>
    <h1>ALL Products</h1>
    <div class="table-responsive-md">
        <table class="table table align-middle table-hover">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<productsCount;i++) { %>
                    <tr>
                        <th scope="row"><%= i+1 %> </th>
                        <td><a href="/products/<%= products[i]._id %>"><%= products[i].name %></a></td>
                        <td><%= products[i].price %></td>
                        <td><%= products[i].qty %> </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <a href="/products/new" class="btn btn-primary">Add product</a>