<%- include('header')  %>
    <title>Products</title>
</head>
<body>
    <%- include('navbar')  %>
    <h1>ALL Products</h1>
    <div class="table-responsive-md">
        <table class="table table align-middle table-hover">
            <thead>
                <tr>
                <th scope="col">No</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <% for(let product of products) { %> 
                <tr>
                    <th scope="row"> ◼ </th>
                    <td><a href="/products/<%= product._id %>"><%= product.name %></a></td>
                    <td><%= product.price %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <a href="/products/new" class="btn-link">Add product</a>
</body>
</html>